<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="static/css/calculator.css">
    
</head>
<body>
    
    <table id="calc">
        <tr>
            <td colspan="3"><input type="text" id="result"></td>
            <td><input type="button" value="clr" onclick="clearText()"></td>
        </tr>
        <tr>
            <td><input type="button" value="1" onclick="display('1')"></td>
            <td><input type="button" value="2" onclick="display('2')"></td>
            <td><input type="button" value="3" onclick="display('3')"></td>
            <td><input type="button" value="/" onclick="display('/')"></td>
        </tr>
        <tr>
            <td><input type="button" value="4" onclick="display('4')"></td>
            <td><input type="button" value="5" onclick="display('5')"></td>
            <td><input type="button" value="6" onclick="display('6')"></td>
            <td><input type="button" value="*" onclick="display('*')"></td>
        </tr>
        <tr>
            <td><input type="button" value="7" onclick="display('7')"></td>
            <td><input type="button" value="8" onclick="display('8')"></td>
            <td><input type="button" value="9" onclick="display('9')"></td>
            <td><input type="button" value="-" onclick="display('-')"></td>
        </tr>
        <tr>
            <td><input type="button" value="0" onclick="display('0')"></td>
            <td><input type="button" value="." onclick="display('.')"></td>
            <td><input type="button" value="=" onclick="sendToServer()"></td>
            <td><input type="button" value="+" onclick="display('+')"></td>
        </tr>
    </table>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    /*
    The below JavaScript recieves the calculator values from the html onclick function when a number 
    is pressed the a user. It then displays the number pressed and adds the number or operation to 
    an array. 
    
    The display() function doesn't display the ops, but does display the numbers. 

    The clearText() function clears the calculator display and pops all of the values from the array. 

    Used a boolean variable "new_calculation" to determine if a new equation is being entered. 
    */
    new_calculation = false; 
    let arr = [];
    function display(val){
        if (val === "+" || val === "-" || val === "*" || val === "/"){
            arr.push(val);
        }
        else{
            if (new_calculation === false){
                arr.push(val);
                document.getElementById("result").value = val;
            }
            else {
                clearText();
                new_calculation = false; 
                arr.push(val);
                document.getElementById("result").value = val;
            }
        }
    }
    function clearText(){
        document.getElementById("result").value = '';
        while (arr.length > 0){
            arr.pop();
        }
    }
    /*
    sendToServer() collects the array and sends the values to the backend where the equations is evaluated. 
    
    On success it will log the result and display the result in the calculator. 
    
    If an error occurs then the word "ERROR" is displayed in the calculator (this is how divide by zero is handled). 
    
    The boolean "new_calculation" is set to true on error and success to allow the JS to determine its a new equation being entered. 
    */
    function sendToServer(){
        console.log("Sending arr to server : " + arr);

        $.ajax({
            type: 'POST',
            url: "{{ url_for('calculator') }}",
            data: {'data' : arr},
            success: function(data){
                console.log(data);
                document.getElementById("result").value = data;
                new_calculation = true; 
            },
            error: function(data){
                document.getElementById("result").value = "ERROR";
                new_calculation = true;
            }
        })
       
    }
</script>